<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence xmlns="https://jakarta.ee/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd"
             version="3.0">
  <persistence-unit name="default">

    <class>ru.sberbank.game.backend.persistence.entity.Session</class>
      <class>ru.sberbank.game.backend.persistence.entity.Desk</class>
      <class>ru.sberbank.game.backend.persistence.entity.Move</class>
      <properties>
      <property name="hibernate.connection.url" value="jdbc:postgresql://localhost:5432/postgres"/>
      <property name="hibernate.connection.driver_class" value="org.postgresql.Driver"/>
      <property name="hibernate.connection.username" value="postgres"/>
      <property name="hibernate.connection.password" value="rootroot"/>
      <property name="hibernate.flushMode" value="ALWAYS"/>
    </properties>
  </persistence-unit>
</persistence>
